<main class="main">
  <div class="inner">
    <div class="bansyaku__wrapper">
      <p class="bansyaku__hedding">
        <%= @bansyaku.sake_name %>
      </p>
      <%= link_to "by #{@bansyaku.user.nickname}", user_path(@bansyaku.user), class: :bansyaku__user %>
      <% if current_user == @bansyaku.user%>
        <div class="bansyaku__manage">
          <%= link_to "編集する", edit_bansyaku_path(@bansyaku), class: :bansyaku__btn %>
          <%= link_to "削除する", bansyaku_path(@bansyaku), method: :delete, class: :bansyaku__btn %>
        </div>
      <% end %>
      <div class="bansyaku__image">
        <%= image_tag @bansyaku.image %>
      </div>
      <div class="bansyaku__body">
        <div class="bansyaku__detail">
          <p class="detail__title">おつまみの名前</p>
          <p class="detail__message">
            <%= @bansyaku.onetumami_name %>
          </p>
        </div>
        <div class="bansyaku__detail">
          <p class="detail__title">おつまみの作り方</p>
          <p class="detail__message">
            <%= @bansyaku.onetumami_recipe %>
          </p>
        </div>
      </div>
      <div class="bansyaku__reviews">
        <% if user_signed_in? %>
          <%= form_with model: [@bansyaku, @review], local: true do |f|%>
            <div class="rating-box mt-3">
             <div class="ratings mb-3">
              <span class="fa fa-star-o" id="star"></span>
              <span class="fa fa-star-o" id="star"></span>
              <span class="fa fa-star-o" id="star"></span>
              <span class="fa fa-star-o" id="star"></span>
              <span class="fa fa-star-o" id="star"></span>
             </div>
             <div class="ml-3 rating-value-display"><span id="rating-value-display">0</span>/5</div>
             <div class="field">
               <%= f.label :comment, "感想" %><br />
               <%= f.hidden_field :bansyaku_id, value: @bansyaku.id %>
               <%= f.hidden_field :score, id: "rating-value" %>
               <%= f.text_field :comment, class: "textarea" %>
             </div>
             <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          </div>
          <% end %> 
        <% end %>
        <ul class="reviews_lists">
          <% @reviews.each do |review| %>
            <li class="reviews_list">
              <%= review.comment%>
              <%= link_to "（#{review.user.nickname}）", user_path(review.user), class: :review_user %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>

