<main class="main">
  <div class="inner">
    <div class="bansyaku__wrapper">
      <p class="bansyaku__hedding"></p>
      <%= link_to "#{@bansyaku.user.nickname}さんの晩酌", user_path(@bansyaku.user), class: :bansyaku__user %>
      <% if current_user == @bansyaku.user%>
        <div class="bansyaku__manage">
          <%= link_to "編集する", edit_bansyaku_path(@bansyaku), class: :bansyaku__btn %>
          <%= link_to "削除する", bansyaku_path(@bansyaku), method: :delete, class: :bansyaku__btn %>
        </div>
      <% end %>
      <div class="bansyaku__image">
        <%= image_tag @bansyaku.image %>
      </div>
      <div class="bansyaku__body">
        <div class="bansyaku__detail">
          <p class="detail__title">お酒の名前</p>
          <p class="detail__message">
          <%= @bansyaku.sake_name %>
          </p>
        </div>
        <div class="bansyaku__detail">
          <p class="detail__title">おつまみ(1品目)の名前</p>
          <p class="detail__message">
            <%= @bansyaku.onetumami_name %>
          </p>
        </div>
        <div class="bansyaku__detail">
          <p class="detail__title">おつまみ(1品目)の作り方</p>
          <p class="detail__message">
            <%= @bansyaku.onetumami_recipe %>
          </p>
        </div>
        <div class="bansyaku__detail">
          <p class="detail__title">おつまみ(2品目)の名前</p>
          <p class="detail__message">
          <%= @bansyaku.twotumami_name %>
          </p>
        </div>
        <div class="bansyaku__detail">
          <p class="detail__title">おつまみ(2品目)の作り方</p>
          <p class="detail__message">
            <%= @bansyaku.twotumami_recipe %>
          </p>
        </div>
        <div class="bansyaku__detail">
          <p class="detail__title">投稿者コメント</p>
          <p class="detail__message">
            <%= @bansyaku.user_comment %>
          </p>
        </div>
      </div>
      <div class="bansyaku__comments">
        <% if user_signed_in? %>
          <%= form_with model: [@bansyaku, @review], local: true do |f|%>
            <div class="field">
              <%= f.label :comment, "コメント" %><br />
              <%= f.text_field :comment %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %> 
        <% end %>
        <ul class="reviews_lists">
          <% @reviews.each do |review| %>
            <li class="reviews_list">
              <%= review.comment%>
              <%= link_to "（#{review.user.nickname}）", user_path(review.user), class: :review_user %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
