<!DOCTYPE html>
<html>
  <head>
    <title>BansyakuApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css"%>
  </head>
  
  <body>
    <%= yield %>
    <footer class="footer">
    <p class="copyright">Copyright © Bansyaku All rights reserved.</p>
    </footer>
  </body>
</html>
